.nav{
	/*border-style: solid;*/
	/*border-width: 1px;*/
	background-color: #996;
	height: 50px;
	width: 100%;
}
.nav-brand{
	color: #FF0;
	margin-right: 1rem;
}
.nav-brand img{
	vertical-align: middle;
}
.nav-content{
	display: inline;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	margin-left: 1rem;
}
.nav-list{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding-left: 0;
}
.nav-item{
	/*display: inline;*/
	/*border-style: solid;*/
	border-width: 1px;
	margin-left: .5rem;
	margin-right: .5rem;
	margin-top: 3.5px;
	/*margin-bottom: 5px;*/
	padding-left: .5rem;
	padding-right: .5rem;
	height: 40px;
	line-height: 40px;
}
.nav-left{
	float: left;
}
.nav-right{
	float: right;
}
.nav-link:link{
	color: #FFF;
}
.nav-link:visited{
}
.nav-link:hover{
	color: #BBB;
}
.nav-link:active{
	color: #888;
}